.shareButton {
    bottom: 0;
    margin: 1rem;

    /* remove button default style */
    background-color: var(--COLOR-PRIMARY);
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 1.5rem;
}

.shareButton:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}