.main {
  --COLOR-PRIMARY: #03dac4;
  --COLOR-PRIMARY-LIGHT: #d4f6f2;
  --COLOR-PRIMARY-DARK: #00a885;
  --COLOR-CONTAINER: rgb(146 233 220 / 0.1);
  --COLOR-CONTAINER-BORDER: #92e9dc;
  --COLOR-NEUTRAL: #aaaaaa;
  --COLOR-TRIADIC: #0319da;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--COLOR-PRIMARY-LIGHT), white);
}

.title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
  margin: 0;
}

@media (max-width: 600px) {
  .main {
    padding: 5rem 1rem;
    justify-content: flex-start;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }
}

.subtitle {
  letter-spacing: -0.025em;
  line-height: 1;
  margin: 0;
}

.primarySpan {
  color: var(--COLOR-PRIMARY);
  font-weight: 500;
}
